<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body>
    <div class="container-xxl">
      <div class="body-conteiner">
        {{{body}}}
      </div>
      <div class="div-background">
        <img class="img" src="/assets/img/Vector.svg">
      </div>
    </div>
  </body>
</html>
